GT43W5_1008/GT43W5_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:complexType name="idopontTipus">
    <xs:sequence>
      <xs:element name="nap" type="xs:string"/>
      <xs:element name="tol" type="xs:string"/>
      <xs:element name="ig" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="oraTipus">
    <xs:sequence>
      <xs:element name="targy" type="xs:string"/>
      <xs:element name="idopont" type="idopontTipus"/>
      <xs:element name="helyszin" type="xs:string"/>
      <xs:element name="oktato" type="xs:string"/>
      <xs:element name="szak" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="tipus" type="tipusTipus" use="required"/>
  </xs:complexType>

  <xs:simpleType name="tipusTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="előadás"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="GT43W5_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="oraTipus" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
