GT43W5_1008/GT43W5_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:complexType name="IdopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="xs:string"/>
            <xs:element name="tol" type="IdoTipus"/>
            <xs:element name="ig" type="IdoTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="IdoTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HelyszinTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OraTipus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="IdopontTipus"/>
            <xs:element name="helyszin" type="HelyszinTipus"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="tipus" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="előadás"/>
                    <xs:enumeration value="gyakorlat"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="GT43W5_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="OraTipus" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>